# Model Metadata API Demo

The Model Metadata API is still in developement. This demo showcases some of the functionality of the new API.

**Note**: If you are running with self-signed certificate make sure to set `CURL_CA_BUNDLE` environmental variable before executing this notebook, for example start the notebook server with:
```bash
CURL_CA_BUNDLE="" jupyter lab
```

## API Configuration

In [1]:
from seldon_deploy_sdk.rest import ApiException
from seldon_deploy_sdk import V1Model, ModelMetadataServiceApi, Configuration, ApiClient
from seldon_deploy_sdk.auth import OIDCAuthenticator

In [2]:
from pprint import pprint
import json

In [3]:
# For local testing use
INGRESS = "http://localhost:8080"

# For production usecase set this to your ingress
# for example if your SD URL is http://xxx.yyy.zzz.xyz/seldon-deploy/api/v1alpha1 set
# INGRESS = "http://xxx.yyy.zzz.xyz"

In [4]:
config = Configuration()
config.host = f"{INGRESS}/seldon-deploy/api/v1alpha1"
config.verify_ssl = False

In [5]:
# auth if needed
config.oidc_server = f"{INGRESS}/auth/realms/deploy-realm"
config.oidc_client_id = "sd-api"
config.oidc_client_secret = "sd-api-secret"
config.auth_method = "client_credentials"

# Alternativey set instead of the "client_credentials" flow
# config.username = "admin@seldon.io"
# config.password = "12341234"
# config.auth_method = "password"

auth = OIDCAuthenticator(config)
config.id_token = auth.authenticate()

In [6]:
api_client = ApiClient(configuration=config, authenticator=auth)
api_instance = ModelMetadataServiceApi(api_client)

## Add single model to the Model Catalogue

In [7]:
model = V1Model(
    uri="gs://test-model-alpha-v1.0.0",
    name="alpha",
    version="v1.0.0",
    artifact_type="XGBOOST",
    task_type="regression",
    tags={
        "source": "https://github.com/some-test-model-alpha-repo",
        "an arbitrary tag": "true",
    },
)
try:
    # Create a Model Metadata entry.
    api_response = api_instance.model_metadata_service_create_model_metadata(model)
    pprint(api_response)
except ApiException as e:
    print(f"Couldn't create model: {json.loads(e.body)['message']}")

Couldn't create model: code=AlreadyExists desc=ERROR: duplicate key value violates unique constraint "model_uri" (SQLSTATE 23505)

## Add multiple models to the Model Catalogue

In [8]:
models = [
    #     Same model different versions
    {
        "uri": "gs://test-model-beta-v1.0.0",
        "name": "beta",
        "version": "v1.0.0",
        "artifact_type": "SKLEARN",
        "task_type": "classification",
        "tags": {"author": "Jon"},
    },
    {
        "uri": "gs://test-model-beta-v2.0.0",
        "name": "beta",
        "version": "v2.0.0",
        "artifact_type": "SKLEARN",
        "task_type": "classification",
        "tags": {"author": "Bob"},
    },
    {
        "uri": "gs://test-model-beta-v3.0.0",
        "name": "beta",
        "version": "v3.0.0",
        "artifact_type": "SKLEARN",
        "task_type": "classification",
        "tags": {"author": "Bob"},
    },
]

for model in models:
    body = V1Model(**model)
    try:
        api_response = api_instance.model_metadata_service_create_model_metadata(body)
        pprint(api_response)
    except ApiException as e:
        print(f"Couldn't create model: {json.loads(e.body)['message']}")

{}
{}
{}

## List all models in the Model Catalogue

In [9]:
try:
    # List Model Metadata entries.
    api_response = api_instance.model_metadata_service_list_model_metadata()
    pprint(api_response)
except ApiException as e:
    print(f"Failed to call API: {json.loads(e.body)['message']}")

{'models': [{'artifact_type': 'SKLEARN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 26, 22, 30282, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': {'default_protocol': 'PROTOCOL_SELDON'},
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/v1.18.0/sklearn/iris',
             'version': ''},
            {'artifact_type': 'TENSORFLOW',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 28, 18, 256331, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': {'default_protocol': 'PROTOCOL_TENSORFLOW'},
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/tfserving/cifar10/resnet32',
             'version': ''},
            {'artifact_type': 'SKLEARN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 57, 45, 995897, tzinfo=tzutc()),
             'metrics': {},
             'name': 'iris-scv2',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/scv2/samples/rolling/iris/v1',
             'version': ''},
            {'artifact_type': 'ALIBI_EXPLAIN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 29, 51, 924480, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/tfserving/cifar10/cifar10_anchor_image_py3.7_alibi-0.7.0',
             'version': ''},
            {'artifact_type': 'ALIBI_EXPLAIN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 31, 51, 114407, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/sklearn/income/explainer-py38-0.9.4',
             'version': ''},
            {'artifact_type': 'XGBOOST',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 32, 35, 769885, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': {'default_protocol': 'PROTOCOL_SELDON'},
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/xgboost/iris',
             'version': ''},
            {'artifact_type': 'ALIBI_DETECT',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 33, 0, 214094, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/alibi-detect/od/OutlierVAE/cifar10-0.9.0',
             'version': ''},
            {'artifact_type': 'ALIBI_DETECT',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 34, 54, 333044, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'adserver.cm_models.multiclass_numeric.MultiClassNumeric',
             'version': ''},
            {'artifact_type': 'ALIBI_EXPLAIN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 34, 58, 731241, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/scv2/samples/mlserver_1.3.5/income-sklearn/anchor-explainer',
             'version': ''},
            {'artifact_type': 'ALIBI_EXPLAIN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 37, 3, 317513, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/alibi/income-kernelshap-explainer-python3.8-alibi-0.7.1dev',
             'version': ''},
            {'artifact_type': 'SKLEARN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 37, 25, 938096, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/scv2/examples/moviesentiment/classifier',
             'version': ''},
            {'artifact_type': 'ALIBI_EXPLAIN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 38, 50, 283822, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/scv2/examples/moviesentiment/explainer',
             'version': ''},
            {'artifact_type': 'SKLEARN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 39, 19, 489201, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': {'default_protocol': 'PROTOCOL_SELDON'},
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/v1.18.0/sklearn/moviesentiment',
             'version': ''},
            {'artifact_type': 'ALIBI_DETECT',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 55, 51, 715044, tzinfo=tzutc()),
             'metrics': {},
             'name': '',
             'prediction_schema': {'requests': [{'category_map': {},
                                                 'data_type': 'INT',
                                                 'n_categories': '0',
                                                 'name': 'Age',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'REAL'},
                                                {'category_map': {'0': '?',
                                                                  '1': 'Federal-gov',
                                                                  '2': 'Local-gov',
                                                                  '3': 'Never-worked',
                                                                  '4': 'Private',
                                                                  '5': 'Self-emp-inc',
                                                                  '6': 'Self-emp-not-inc',
                                                                  '7': 'State-gov',
                                                                  '8': 'Without-pay'},
                                                 'data_type': 'INT',
                                                 'n_categories': '9',
                                                 'name': 'Workclass',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'},
                                                {'category_map': {'0': 'Associates',
                                                                  '1': 'Bachelors',
                                                                  '2': 'Doctorate',
                                                                  '3': 'Dropout',
                                                                  '4': 'High '
                                                                       'School '
                                                                       'grad',
                                                                  '5': 'Masters',
                                                                  '6': 'Prof-School'},
                                                 'data_type': 'INT',
                                                 'n_categories': '7',
                                                 'name': 'Education',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'},
                                                {'category_map': {'0': 'Married',
                                                                  '1': 'Never-Married',
                                                                  '2': 'Separated',
                                                                  '3': 'Widowed'},
                                                 'data_type': 'INT',
                                                 'n_categories': '4',
                                                 'name': 'Marital Status',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'},
                                                {'category_map': {'0': '?',
                                                                  '1': 'Admin',
                                                                  '2': 'Blue-Collar',
                                                                  '3': 'Military',
                                                                  '4': 'Other',
                                                                  '5': 'Professional',
                                                                  '6': 'Sales',
                                                                  '7': 'Service',
                                                                  '8': 'White-Collar'},
                                                 'data_type': 'INT',
                                                 'n_categories': '9',
                                                 'name': 'Occupation',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'},
                                                {'category_map': {'0': 'Husband',
                                                                  '1': 'Not-in-family',
                                                                  '2': 'Other-relative',
                                                                  '3': 'Own-child',
                                                                  '4': 'Unmarried',
                                                                  '5': 'Wife'},
                                                 'data_type': 'INT',
                                                 'n_categories': '6',
                                                 'name': 'Relationship',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'},
                                                {'category_map': {'0': 'Amer-Indian-Eskimo',
                                                                  '1': 'Asian-Pac-Islander',
                                                                  '2': 'Black',
                                                                  '3': 'Other',
                                                                  '4': 'White'},
                                                 'data_type': 'INT',
                                                 'n_categories': '5',
                                                 'name': 'Race',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'},
                                                {'category_map': {'0': 'Female',
                                                                  '1': 'Male'},
                                                 'data_type': 'INT',
                                                 'n_categories': '2',
                                                 'name': 'Sex',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'},
                                                {'category_map': {},
                                                 'data_type': 'INT',
                                                 'n_categories': '0',
                                                 'name': 'Capital Gain',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'REAL'},
                                                {'category_map': {},
                                                 'data_type': 'INT',
                                                 'n_categories': '0',
                                                 'name': 'Capital Loss',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'REAL'},
                                                {'category_map': {},
                                                 'data_type': 'INT',
                                                 'n_categories': '0',
                                                 'name': 'Hours per week',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'REAL'},
                                                {'category_map': {'0': '?',
                                                                  '1': 'British-Commonwealth',
                                                                  '10': 'Yugoslavia',
                                                                  '2': 'China',
                                                                  '3': 'Euro_1',
                                                                  '4': 'Euro_2',
                                                                  '5': 'Latin-America',
                                                                  '6': 'Other',
                                                                  '7': 'SE-Asia',
                                                                  '8': 'South-America',
                                                                  '9': 'United-States'},
                                                 'data_type': 'INT',
                                                 'n_categories': '11',
                                                 'name': 'Country',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'}],
                                   'responses': [{'category_map': {'0': 'Low '
                                                                        'Income',
                                                                   '1': 'High '
                                                                        'Income'},
                                                  'data_type': 'INT',
                                                  'n_categories': '2',
                                                  'name': 'Income Class',
                                                  'schema': [],
                                                  'shape': [],
                                                  'type': 'CATEGORICAL'}]},
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'auto_created': 'true'},
             'task_type': '',
             'uri': 'gs://seldon-models/alibi-detect/cd/tabular/income-0_8_1/',
             'version': ''},
            {'artifact_type': 'SKLEARN',
             'creation_time': datetime.datetime(2024, 2, 7, 10, 28, 43, 834839, tzinfo=tzutc()),
             'metrics': {},
             'name': 'income-classifierr',
             'prediction_schema': {'requests': [{'category_map': {},
                                                 'data_type': 'FLOAT',
                                                 'n_categories': '0',
                                                 'name': 'Age',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'REAL'},
                                                {'category_map': {'0': '?',
                                                                  '1': 'Federal-gov',
                                                                  '2': 'Local-gov',
                                                                  '3': 'Never-worked',
                                                                  '4': 'Private',
                                                                  '5': 'Self-emp-inc',
                                                                  '6': 'Self-emp-not-inc',
                                                                  '7': 'State-gov',
                                                                  '8': 'Without-pay'},
                                                 'data_type': 'INT',
                                                 'n_categories': '9',
                                                 'name': 'Workclass',
                                                 'schema': [],
                                                 'shape': [],
                                                 'type': 'CATEGORICAL'},
                                                {'category_map': {'0': 'Associates',
                                                                  '1': 'Bachelors',
                                                                  '2': 'Doctorate',
                                                                  '3': 'Dropout',
                                                                  '4': 'High '
                                                                       'School '
                                                                       'grad',

## Get all models with a specific name and authored by Jon (name = "beta" and tags.author = "Jon")

In [10]:
# uri = 'uri_example'                       # str |  (optional)
# name = 'name_example'                     # str |  (optional)
# version = 'version_example'               # str |  (optional)
# artifactType = 'artifactType_example'     # str |  (optional)
# task_type = 'task_type_example'           # str |  (optional)
# model_type = 'model_type_example'         # str |  (optional)

try:
    # List Model Metadata entries.
    api_response = api_instance.model_metadata_service_list_model_metadata(
        name="beta", tags={"author": "Jon"}
    )
    pprint(api_response)
except ApiException as e:
    print(f"Failed to call API: {json.loads(e.body)['message']}")

{'models': [{'artifact_type': 'SKLEARN',
             'creation_time': datetime.datetime(2024, 2, 7, 14, 45, 1, 169717, tzinfo=tzutc()),
             'metrics': {},
             'name': 'beta',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'author': 'Jon'},
             'task_type': 'classification',
             'uri': 'gs://test-model-beta-v1.0.0',
             'version': 'v1.0.0'}],
 'next_page_token': ''}

## Get all models authored by Bob (tags.author = Bob)

In [11]:
# uri = 'uri_example'                       # str |  (optional)
# name = 'name_example'                     # str |  (optional)
# version = 'version_example'               # str |  (optional)
# artifactType = 'artifactType_example' # str |  (optional)
# task_type = 'task_type_example'           # str |  (optional)
# model_type = 'model_type_example'         # str |  (optional)

try:
    # List Model Metadata entries.
    api_response = api_instance.model_metadata_service_list_model_metadata(
        tags={"author": "Bob"}
    )
    pprint(api_response)
except ApiException as e:
    print(f"Failed to call API: {json.loads(e.body)['message']}")

{'models': [{'artifact_type': 'SKLEARN',
             'creation_time': datetime.datetime(2024, 2, 7, 14, 45, 1, 236044, tzinfo=tzutc()),
             'metrics': {},
             'name': 'beta',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'author': 'Bob'},
             'task_type': 'classification',
             'uri': 'gs://test-model-beta-v2.0.0',
             'version': 'v2.0.0'},
            {'artifact_type': 'SKLEARN',
             'creation_time': datetime.datetime(2024, 2, 7, 14, 45, 1, 321901, tzinfo=tzutc()),
             'metrics': {},
             'name': 'beta',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'author': 'Bob'},
             'task_type': 'classification',
             'uri': 'gs://test-model-beta-v3.0.0',
             'version': 'v3.0.0'}],
 'next_page_token': ''}

## Update metadata for a model in the Model Catalog by adding an additional tag

In [12]:
try:
    # Get Model Metadata entries.
    api_response = api_instance.model_metadata_service_list_model_metadata(
        uri="gs://test-model-alpha-v1.0.0"
    )
    print("Before update:")
    pprint(api_response)
except ApiException as e:
    print(f"Failed to call API: {json.loads(e.body)['message']}")


model = V1Model(
    uri="gs://test-model-alpha-v1.0.0",
    name="alpha",
    version="v1.0.0",
    artifact_type="XGBOOST",
    task_type="regression",
    tags={
        "source": "https://github.com/some-other-repo",
        "an arbitrary tag": "true",
        "an additional tag": "123",
    },
)

try:
    # Update a Model Metadata entry.
    api_response = api_instance.model_metadata_service_update_model_metadata(model)
    pprint(api_response)
except ApiException as e:
    print(f"Failed to call API: {json.loads(e.body)['message']}")

try:
    # List Model Metadata entries.
    api_response = api_instance.model_metadata_service_list_model_metadata(
        uri="gs://test-model-alpha-v1.0.0"
    )
    print("After update:")
    pprint(api_response)
except ApiException as e:
    print(f"Failed to call API: {json.loads(e.body)['message']}")

Before update:
{'models': [{'artifact_type': 'XGBOOST',
             'creation_time': datetime.datetime(2024, 2, 7, 14, 44, 18, 265512, tzinfo=tzutc()),
             'metrics': {},
             'name': 'alpha',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'an arbitrary tag': 'true',
                      'source': 'https://github.com/some-test-model-alpha-repo'},
             'task_type': 'regression',
             'uri': 'gs://test-model-alpha-v1.0.0',
             'version': 'v1.0.0'}],
 'next_page_token': ''}
{}
After update:
{'models': [{'artifact_type': 'XGBOOST',
             'creation_time': datetime.datetime(2024, 2, 7, 14, 44, 18, 265512, tzinfo=tzutc()),
             'metrics': {},
             'name': 'alpha',
             'prediction_schema': None,
             'project': 'default',
             'runtime_defaults': None,
             'tags': {'an additional tag': '123',
                      'an arbitrary tag': 'true',
                      'source': 'https://github.com/some-other-repo'},
             'task_type': 'regression',
             'uri': 'gs://test-model-alpha-v1.0.0',
             'version': 'v1.0.0'}],
 'next_page_token': ''}

## Get runtime information for a model

You will need a Seldon Deployment running with the following details in order to receive a meaningful result:

In [13]:
name = "iris"
namespace = "seldon"
model_uri = "gs://seldon-models/v1.18.0/sklearn/iris"

### List runtime metadata for a specific model run a "(deployment_status = "Running")

In [14]:
try:
    # List Runtime Metadata for all deployments associated with a model.
    api_response = api_instance.model_metadata_service_list_runtime_metadata_for_model(
        model_uri=model_uri, deployment_status="Running"
    )
    pprint(api_response)
except ApiException as e:
    print(f"Failed to call API: {json.loads(e.body)['message']}")

{'next_page_token': '',
 'runtime_metadata': [{'creation_time': datetime.datetime(2024, 2, 7, 10, 27, 16, 79854, tzinfo=tzutc()),
                       'deployment_kubernetes_uid': '0474d68d-db43-4b66-b3cc-14f6d7ca02ab',
                       'deployment_name': 'mc1-iris',
                       'deployment_namespace': 'seldon',
                       'deployment_status': 'Running',
                       'deployment_type': 'SeldonDeployment',
                       'explainer': False,
                       'model': {'artifact_type': 'SKLEARN',
                                 'creation_time': datetime.datetime(2024, 2, 7, 10, 26, 22, 30282, tzinfo=tzutc()),
                                 'metrics': {},
                                 'name': '',
                                 'prediction_schema': None,
                                 'project': 'default',
                                 'runtime_defaults': {'default_protocol': 'PROTOCOL_SELDON'},
                                 'tags': {'auto_created': 'true'},
                                 'task_type': '',
                                 'uri': 'gs://seldon-models/v1.18.0/sklearn/iris',
                                 'version': ''},
                       'model_uri': 'gs://seldon-models/v1.18.0/sklearn/iris',
                       'node_name': 'mc1-iris-container',
                       'predictor_name': 'default',
                       'replicas': '0',
                       'shadow': False,
                       'traffic': '100'},
                      {'creation_time': datetime.datetime(2024, 2, 7, 10, 43, 43, 54131, tzinfo=tzutc()),
                       'deployment_kubernetes_uid': '1e7032a5-e96b-4524-992e-a6b6b9bb6756',
                       'deployment_name': 'kengo-batch-gitops',
                       'deployment_namespace': 'seldon-gitops',
                       'deployment_status': 'Running',
                       'deployment_type': 'SeldonDeployment',
                       'explainer': False,
                       'model': {'artifact_type': 'SKLEARN',
                                 'creation_time': datetime.datetime(2024, 2, 7, 10, 26, 22, 30282, tzinfo=tzutc()),
                                 'metrics': {},
                                 'name': '',
                                 'prediction_schema': None,
                                 'project': 'default',
                                 'runtime_defaults': {'default_protocol': 'PROTOCOL_SELDON'},
                                 'tags': {'auto_created': 'true'},
                                 'task_type': '',
                                 'uri': 'gs://seldon-models/v1.18.0/sklearn/iris',
                                 'version': ''},
                       'model_uri': 'gs://seldon-models/v1.18.0/sklearn/iris',
                       'node_name': 'kengo-batch-gitops-container',
                       'predictor_name': 'default',
                       'replicas': '0',
                       'shadow': False,
                       'traffic': '100'},
                      {'creation_time': datetime.datetime(2024, 2, 7, 14, 39, 35, 44873, tzinfo=tzutc()),
                       'deployment_kubernetes_uid': 'e87dec15-5ab8-4168-a9b1-33285bd0749a',
                       'deployment_name': 'rs-iris',
                       'deployment_namespace': 'seldon-gitops',
                       'deployment_status': 'Running',
                       'deployment_type': 'SeldonDeployment',
                       'explainer': False,
                       'model': {'artifact_type': 'SKLEARN',
                                 'creation_time': datetime.datetime(2024, 2, 7, 10, 26, 22, 30282, tzinfo=tzutc()),
                                 'metrics': {},
                                 'name': '',
                                 'prediction_schema': None,
                                 'project': 'default',
                                 'runtime_defaults': {'default_protocol': 'PROTOCOL_SELDON'},
                                 'tags': {'auto_created': 'true'},
                                 'task_type': '',
                                 'uri': 'gs://seldon-models/v1.18.0/sklearn/iris',
                                 'version': ''},
                       'model_uri': 'gs://seldon-models/v1.18.0/sklearn/iris',
                       'node_name': 'rs-iris-container',
                       'predictor_name': 'default',
                       'replicas': '0',
                       'shadow': False,
                       'traffic': '90'}]}

### List runtime metadata for models in a specific deployment and namespace

In [15]:
try:
    # List Runtime Metadata for all deployments associated with a model.
    api_response = api_instance.model_metadata_service_list_runtime_metadata_for_model(
        deployment_name=name, deployment_namespace=namespace
    )
    pprint(api_response)
except ApiException as e:
    print(f"Failed to call API: {json.loads(e.body)['message']}")

{'next_page_token': '', 'runtime_metadata': []}